body {
	color: #333;
	padding: 0px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	-o-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}


.button{/*提交按钮*/
	float: right;
	margin: 10px;
	-o-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}

.menu{/*输入部分*/
	
position: absolute;
margin-left: -200px;
margin-top: -80px;
top: 22%;
left: 50%;
display: block;
z-index: 2000;

    
}


.from{
	padding: 4px 2px 3px 2px;
	float: left;
	margin: 10px;
	-o-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
}

.input_name{  /*标题输入框的属性*/
	width: 300px;
	border: 1px solid #95E0EF;
	background-color: #f3fcfe;
	padding: 4px 2px 3px 2px;
	float: left;
	margin: 10px;
	-o-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
            
            

}


.content h1{
	width: 100%;
	text-align: left;
	font-size: 30px;
	color: rgb(0, 98, 150)/*cadetblue*/	;
	margin:  50px auto;
	font-family: 'Taco_Modern';
}
.content nav {
	width: 300px;
	text-align: left;
	margin: 15px auto;
}
.content nav span{
	width: 200px;
	font-size: 10px;
	text-align: left;
	margin: auto 20px;
}

.content div{
	width: 60%;
	text-align: left;
	font-size: 10px;
	color: darkgrey/*cadetblue*/	;
	margin: 40px auto 50px;
	font-family: 'Taco_Modern';
}




