.zhu{  
width:50px; height:50px ;
z-index:5;
position:fixed;
right:0px;
bottom:50px;
} 
.zhu img{width:50px; height:50px} 
.chatbox{ 
width:370px;
height:570px;
position:fixed;
right:50px;
bottom:70px;
border-radius:10px;
box-shadow: 1px 1px 2px #c0c0c0;
z-index: 5;
}
.chatheadback{
	width:50px;height:50px;
	position:absolute;
	right:0px; 
	top:0px;
	font-size: 15px;
	}
.chathead{
	background-color:#01aee0;
	width: 100%;
	height: 75px;
	font-size: 20px;
	text-align: center;
	line-height: 75px;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	}
.chatsend{
	background-color:#D0D0D0;
	width:100%;
    height:50px;
	position:absolute;
	bottom:0;
	left:0;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	}
.chatsendinput{
	position:absolute;
	top:10px;
	left:10px;
	border-radius:10px;
	
	}
	
.chatsendsubmit{
	position:absolute;
	top:10px;
	right:20px;
	border-radius:10px;
	}
.chatshow{
	overflow-y: scroll;
	background-color:aliceblue;
	width:100%;
    height:445px;
	position:absolute;
	top:75px;
	left:0;
	}
.youwenzi{
	overflow:hidden;
	height:auto;
	}
.shijian{
	position:relative;
	width:100%;
	top:0px;
	text-align:center;
	margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
	color:#888;
	font-size:12px;
	}
.youshuchukuang{
	text-align: right;
	position:relative;
	right:-95px;
	top: 13px;
	max-width: 200px;
	height: auto;
	word-break: break-all;

	border-radius: 5px;
	
}
.youtouxiang{
	width: 40px;
	height: 40px;
	position:relative;
	top: -19px;
	right: -305px;
} 
.youtouxiang img{width:40px; height:40px}
.zuowenzi{
	overflow:hidden;
	height:auto;
	}

.zuoshuchukuang{
	text-align: left;
	position:relative;
	right:-57px;
	top: 13px;
	max-width: 200px;
	height: auto;
	word-break: break-all;
	border-radius: 5px;
	
}
.zuotouxiang{
	width: 40px;
	height: 40px;
	position:relative;
	top: -19px;
	right: -7px;
} 
.zuotouxiang img{width:40px; height:40px}

.anniu{
	position:absolute;
	bottom:40px;
	right:100px;
	}
	
.liebiaored{
  display:block;
  background:#f00;
  border-radius:50%;
  width:10px;
  height:10px;
  top:0px;
  right:0px;
  position:relative;
  float:right;
	}		
	
.red{
  display:none;
  background:#f00;
  border-radius:50%;
  width:10px;
  height:10px;
  top:0px;
  right:0px;
  position:absolute;
	}	
	
	.chatliebiao {

	
	}
	
.chatliebiaobox{ 
width:370px;
height:570px;
position:fixed;
right:50px;
bottom:70px;
border-radius:10px;
box-shadow: 1px 1px 2px #c0c0c0;
z-index: 5;
border-radius:10px;
}
	
.chatliebiaoheadback{
	width:50px;height:50px;
	position:absolute;
	right:0px; 
	top:0px;
	font-size: 15px;
	}
.chatliebiaohead{
	background-color:#01aee0;
	width: 100%;
	height: 75px;
	font-size: 20px;
	text-align: center;
	line-height: 75px;
	color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	}
	
	.chatliebiaoshow{
	overflow-y: scroll;
	background-color:aliceblue;
	width:100%;
    height:495px;
	position:absolute;
	top:75px;
	left:0;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	}
	.chatliebiaotouxiang{
	position:relative;
	top:10px;
	left:0px;
    width: 40px;
	height: 40px;
	}

.chatliebiaotouxiang img{width:40px; height:40px}

.chatliebiaoname{
	width:80%;
	position:relative;
	top:-20px;
	left:55px;
	font-size:14px;
	}
	
	.chatheadfanhui{
	width:50px;height:50px;
	position:absolute;
	left:0px; 
	top:0px;
	font-size: 15px;
	}